<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Users information</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style th:inline="css">
        table {
            width: 100%;
            border-collapse: collapse;
            table-layout: auto;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
            color: black;
        }
    </style>
</head>
<body>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Age</th>
            <th>E-mail</th>
            <th>Password</th>
            <th>Authorities</th>
            <th>Users management</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="user : ${allusers}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.age}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.password}"></td>
            <td >
                <span th:each="role : ${user.roles}">
                    <span th:text="${role.role}"></span>
                    <br>
                </span>

            </td>
            <td>
                <a href="#" th:href="@{/admin/user/{id}/edit(id=${user.id})}" class="btn btn-primary">Edit</a>
                <br>
                <a href="#" th:href="@{/admin/user/{id}(id=${user.id})}" class="btn btn-primary">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
<div>
    <a href="#" th:href="@{/admin/user/new}">
        <input type="submit" value="Add new user">
    </a>
    <a href="#" th:href="@{/user}">
        <input type="submit" value="My profile">
    </a>
    <a href="#" th:href="@{/logout}">
        <input type="submit" value="Logout">
    </a>
</div>
</body>

</html>